.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    margin: auto;
    background-color: #e91e63;
    color: #fff;
    min-height: 56px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
    background: linear-gradient(45deg ,#80CBC4, #B2DFDB, #80CBC4);
    z-index: 10;
}

nav {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.logo img {
    height: 50px;
    padding: 5px 0.3rem 0;
}
